################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Git_Homework/.vs/Git_Homework/FileContentIndex/2997a769-f478-40da-9040-f98ab437eab9.vsidx
